# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/

# Environment Variables & Secrets
.env
.env.*

# Jupyter Notebooks
.ipynb_checkpoints/
*/.ipynb_checkpoints/

# OS Files
.DS_Store
Thumbs.db

# Editors & IDEs
.vscode/
.idea/
*.swp
*.swo
